html,body { height:100%; padding:0; margin:0; }

body {
    font: 16px Ubuntu, sans-serif !important; 
    line-height: 1.4 !important; 
    color: #f5f6f7 !important; 
    background-repeat: repeat !important; 
    background-image: url("./shat.gif") !important; 
    background-position: top left !important;
    background-color: #2b2b2b !important;
}

.navbar-toggler {
    border-color: #D3D3D3 !important;
    color: #D3D3D3 !important;
}

h1, h2, h3, h4{
    line-height: 1.5 !important; 
}

.fadeInUp {
    animation: 2.5s fadeInUp;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.bg-main { background-color: #2d159f5e !important; }

.gi-1x{font-size: 1em !important; }
.gi-2x{font-size: 2em !important; }
.gi-3x{font-size: 3em !important; }
.gi-4x{font-size: 4em !important; }
.gi-5x{font-size: 5em !important; }

.textder { text-align: right !important; }
.textcent { text-align: center !important; }

.text-justify { text-align: justify !important; }

h1 span {  font-size: 60px !important; font-weight: 400 !important;  color: #e7364d !important; }
h2 span {  font-size: 22px !important; font-weight: 400 !important; }
h3 span {  font-size: 18px !important; font-weight: 400 !important; }

.fonsi46  {  font-size: 46px !important;  }
.fonsi36  {  font-size: 36px !important;  }
.fonsi30  {  font-size: 30px !important;  }
.fonsi28  {  font-size: 28px !important;  }
.fonsi26  {  font-size: 26px !important;  }
.fonsi24  {  font-size: 24px !important;  }
.fonsi23  {  font-size: 23px !important;  }
.fonsi22  {  font-size: 22px !important;  }
.fonsi20  {  font-size: 20px !important;  }
.fonsi18  {  font-size: 18px !important;  }
.fonsi16  {  font-size: 16px !important;  }
.fonsi15  {  font-size: 15px !important;  }
.fonsi14  {  font-size: 14px !important;  }
.fonsi13  {  font-size: 13px !important;  }
.fonsi12  {  font-size: 12px !important;  }
.fonsi11  {  font-size: 11px !important;  }
.fonsi10  {  font-size: 10px !important;  }

a.nav-link {
    font-size: 16px !important;  
    border-bottom: 2px solid none !important;
    margin-right:  3px !important;
    padding: 8px !important;   
}

a.nav-link:hover {
    color: white !important;
    background-color: #7777776b !important;
    border-radius: 3px !important;
    border-bottom: 2px solid white !important;    
    padding: 8px !important;   
    font-weight: bolder;
    opacity: 0.1 !important;
    transition: opacity 0.4s ease-in !important;  
}

li a.active {
    background-color: #80808070 !important;  
    border-radius: 3px !important;
    padding: 8px !important;   
    border-bottom: 2px solid grey !important;
    font-size: 16px !important;
}

a { color: #e7364d !important; }

a:hover {
    color: #bfb9b9 !important;  
    font-weight: bolder;
    opacity: 0.2 !important;
    transition: opacity 0.3s ease-in !important; 
}    

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.padtopbo150 { padding-top: 150px !important; padding-bottom: 150px !important; }
.padtopbo100 { padding-top: 100px !important; padding-bottom: 100px !important; }
.padtopbo80 { padding-top: 80px !important; padding-bottom: 80px !important; }
.padtopbo50 { padding-top: 50px !important; padding-bottom: 50px !important; }
.padtopbo40 { padding-top: 40px !important; padding-bottom: 40px !important; }
.padtopbo30 { padding-top: 30px !important; padding-bottom: 30px !important; }
.padtopbo10 { padding-top: 10px !important; padding-bottom: 10px !important; }

.martopbo150 { margin-top: 150px !important; margin-bottom: 150px !important; }
.martopbo100 { margin-top: 100px !important; margin-bottom: 100px !important; }
.martopbo70 { margin-top: 70px !important; margin-bottom: 70px !important; }
.martopbo50 { margin-top: 50px !important; margin-bottom: 50px !important; }
.martopbo30 { margin-top: 30px !important; margin-bottom: 30px !important; }
.martopbo20 { margin-top: 20px !important; margin-bottom: 20px !important; }
.martopbo10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.martopbo5 { margin-top: 5px !important; margin-bottom: 5px !important; }

.mar4 { margin: 4px !important;  }
.mar10 { margin: 10px !important;  }
.mar15 { margin: 15px !important;  }
.mar20 { margin: 20px !important;  }
.mar30 { margin: 30px !important;  }
.mar40 { margin: 40px !important;  }
.mar50 { margin: 50px !important;  }
.mar60 { margin: 60px !important;  }
.mar70 { margin: 70px !important;  }

.pad4 { padding: 4px !important;  }
.pad6 { padding: 6px !important;  }
.pad10 { padding: 10px !important;  }
.pad15 { padding: 15px !important;  }
.pad20 { padding: 20px !important;  }
.pad30 { padding: 30px !important;  }
.pad40 { padding: 40px !important;  }
.pad60 { padding: 60px !important;  }
.pad80 { padding: 80px !important;  }
.pad110 { padding: 110px !important;  }

.fonbla { color: white !important; }

.lb-number {
    font-size: 14px !important;
}
